@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Hind Siliguri, "sans-serif";
    color: #000d22;
    background-color: #f3f4f6;
  }
}
